@media (min-width: 1100px) {
  body {
    background-image: url(../../assets/moon-2048727.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  div#root {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 24.633vw 75.367vw;
    grid-template-areas: "nav" "main";
  }

  main.about {
    grid-area: "main";
    margin-left: 24.633vw ;
    min-height: 100vh;
    max-width: 75.367vw;
    position: absolute;
    background-color: rgba(189, 189, 189, 0.8);
    box-shadow: 0 1px 10px 6px var(--neithans-grey-9);
  }

  .welcome-text {
    margin-top: 3vh;
    margin-bottom: 3vh !important;
    padding: 0 1vw;
    text-align: center;
    color: var(--neithans-grey-8);
  }
  
  div.card-box {
    max-width: 75.367vw;
    display: grid !important;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "techs" "toLearn" "currentActive" "comming";
  }

  .card h4 {
    width: 100%;
  }

  .card-box > .card:nth-child(1) {
    grid-area: "techs";
    margin-bottom: 4vh;
  }
  .card-box > .card:nth-child(2) {
    grid-area: "toLearn";
  }
  .card-box > .card:nth-child(3) {
    grid-area: "currentActive";
  }
  .card-box > .card:nth-child(4) {
    grid-area: "comming";
  }

  .card-box .card .card-body {
    margin-bottom: 20% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 85% !important;
    height: 40vh;
    margin: 0 auto;
    background-color: var(--neithans-grey-5);
    text-align: center;
        box-shadow: -3.5px 7px 7px 2px var(--neithans-grey-9);
  }

  /* .card .list-group {
    overflow: auto;
    height: 30vh;
    width: 32%;
  }

  .card .list-group li a{
    background-color: var(--neithans-grey-1);
  }

  .card .list-group a:is(:hover, :active, :focus) {
    font-size: 1rem;
    background-color: #eee;
  } */

  .card .scrollspy {
    position: relative;
    overflow: auto;
    padding: 0;
    height: 30vh;
    /* margin-left: 1%; */
    /* width: 67%; */
    width: 100%;
  }

  .card .scrollspy h5 {
    background-color: #bdbdbd13;
    color: var(--neithans-grey-2);
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    display: inline-block;
  }

    @media (max-height: 600px) {
    .card .scrollspy {
      height: 27vh;
    }
  }
}