@media (max-width: 767.98px) {
  body {
    background-color: var(--neithans-grey-3);
  }

  nav.d-flex {
    background-color: var(--neithans-grey-8) !important;
    box-shadow: 0 3px 3px 2px var(--neithans-grey-9);
  }

  nav.d-flex img.photo {
    border-radius: 100%;
    border: 4px var(--neithans-grey-9) solid;
    width: 50%;
    margin: 2vh auto;
  }

  nav.d-flex > p:is( .name, .job) {
    margin: 1vh auto;
  }

  nav.d-flex ul.link-list {
    display: flex;
    flex-direction: row;
    margin: 1vh 8% 2vh 0;
    justify-content: space-evenly;
    list-style-type: none;
  }

  nav.d-flex .nav-footer {
    display: none;
  }

  main {
    background-color: var(--neithans-grey-3);
    color: var(--neithans-grey-3);
    text-align: center;
  }

  main h1.welcome-text {
    display: none;
  }

  main div.justify-content-sm-center .card {
    width: 100%;
    height: 30vh;
    max-width: 600px;
  }
}