@media (max-width: 767.98px) {
  body {
    max-height: 100vh;
    max-width: 100vw;
  }

  .home {
    background-color: #ddd;
    min-height: 92.3vh;
    padding-top: 2vh;
  }

  .home * {
    color: var(--neithans-grey-4);
    text-decoration: underline;
  }

  .home-buttons {
    text-align: center;
  }

  .projects-link {
    background-color: #ddd;
    border-color: #ddd;
    border: 1px ridge #ddd;
  }
  
  button > p, .far, .fas {
    font-size: 3rem;
  }


  main.home .land-photo {
    box-shadow: 1px -2px 8px 10px var(--neithans-grey-9);
    margin: 2vh auto 0;
    display: block;
    width: 40%;
    border-radius: 7%;
  }

  .land-photo-back {
    display: none;
  }

  .back-presentation {
    display: none;
  }

  .landpage-presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .land-undefined:nth-child(1) {
    margin-top: 2vh;
    font-family: 'Abril fatface';
    font-size: 2.3rem;
    text-align: center;
  }

  .land-undefined:nth-child(n+2) {
    font-size: 1.18rem;
    text-align: center;
    font-family: 'Poppins';
  }
  
  .mail-to {
    text-align: center;
    display: block;
    margin-top: 1vh;
  }

  .mail-to:hover {
    font-size: inherit;
    color: var(--neithans-grey-10);
  }
}

@media (min-width: 768px) and (max-width: 1104.98px) {
}

@media (min-width: 1105px) {
  .home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-content {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
  }

  .home-content .land-photo {
    position: absolute;
    left: 15%;
    height: 42%;
    margin-right: 3vw;
    margin-top: 10vh;
    border-radius: 7%;
    opacity: 90%;
    box-shadow: 2px -5px 80px 110px var(--neithans-grey-9);
  }

  .land-photo-back {
    position: absolute;
    left: 13%;
    bottom: 24%;
    opacity: 11%;
    z-index: -10;
    border-radius: 7%;
    height: 50%;
  }

  .landpage-presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 100;
    position: absolute;
    bottom: 24%;
    right: 15%;
    height: 50%;
    opacity: 92%;
    border-radius: 7%;
    width: 39%;
  }

  .back-presentation {
    position: absolute;
    bottom: 24%;
    right: 15%;
    opacity: 30%;
    background: linear-gradient(
    to bottom,
    var(--neithans-grey-6) 10%,
    var(--neithans-grey-7) 45%,
    var(--neithans-grey-8) 80%,
    var(--neithans-grey-10) 100%
  );
    z-index: -1;
    background-color: var(--neithans-grey-6);
    border-radius: 7%;
    width: 40%;
    height: 55vh;
  }

  .land-undefined:nth-child(1) {
    font-family: 'Abril fatface';
    font-size: 2.54rem;
    text-align: center;
  }

  .land-undefined:nth-child(n+2) {
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.25rem;
  }

  .home-buttons {
    text-align: center;
  }
  
  .projects-link {
    opacity: 70%;
    border-radius: 5%;
    height: 15vh;
    background: linear-gradient(
    to top,
    var(--neithans-grey-6) 10%,
    var(--neithans-grey-7) 45%,
    var(--neithans-grey-8) 80%,
    var(--neithans-grey-10) 100%);
    position: absolute;
    right: 22vw;
    bottom: 5.7vh;
    padding: 0 1vw;
  }

  button > p, .far, .fas {
    font-size: 2.7rem;
    margin-bottom: 1vh;
  }

  .mail-to {
    position: absolute;
    right: 1vw;
    top: 2.5vh;
  }


@media (max-height: 730px) {
    .projects-link > p {
      display: none;
    }

    .projects-link {
      width: 22%;
      height: 12vh;
    }
  }
}