:root {
  --neithans-beatred: #c83844;
  --neithans-beazul: #b6ccd1;
  --neithans-n-danger: #CA484A;
  --neithans-n-warning: #DDD11E;
  --neithans-n-info: #6B92AB;
  --neithans-n-success: #90917e;
  --neithans-grey-0: #ebebeb;
  --neithans-grey-1: #e0e0e0;
  --neithans-grey-2: #cdcdcd;
  --neithans-grey-3: #bdbdbd;
  --neithans-grey-4: #9e9e9e;
  --neithans-grey-5: #777777;
  --neithans-grey-6: #616161;
  --neithans-grey-7: #555555;
  --neithans-grey-8: #424242;
  --neithans-grey-9: #333333;
  --neithans-grey-10: #1f1f1f;
  --neithans-n-danger-rgb: 202, 72, 74;
  --neithans-n-warning-rgb: 221, 209, 30;
  --neithans-n-info-rgb: 107, 146, 171;
  --neithans-n-success-rgb: 144, 145, 126;
  --neithans-grey-0-rgb: 235, 235, 235;
  --neithans-grey-1-rgb: 224, 224, 224;
  --neithans-grey-2-rgb: 199, 199, 199;
  --neithans-grey-3-rgb: 189, 189, 189;
  --neithans-grey-4-rgb: 158, 158, 158;
  --neithans-grey-5-rgb: 119, 119, 119;
  --neithans-grey-6-rgb: 97, 97, 97;
  --neithans-grey-7-rgb: 85, 85, 85;
  --neithans-grey-8-rgb: 66, 66, 66;
  --neithans-grey-9-rgb: 51, 51, 51;
  --neithans-grey-10-rgb: 31, 31, 31;
  --neithans-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
  color: var(--neithans-grey-3);
  list-style-type: none;
  transition: 0.3s;
}

a {
  color: var(--neithans-grey-2);
}

ol::-webkit-scrollbar {
  padding: 0;
  background-color: transparent;
  position: absolute;
}

.card li {
  margin-left: 1vw;
}

.card li > h5 {
  margin-left: 4vw;
}

a:active,
a:hover,
a:focus {
  font-size: 1.15rem;
  color: var(--neithans-grey-4);
  border: none;
}
